<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <h4>Bem vindo ao Choco Animato!</h4>
  <p>Só mais um passo para começar a criar os seus vídeos!😃</p>

  <p>
    Confirme seu cadastro acessando o link abaixo: <br />
    <a href={{link}}>{{link}}</a>
  </p>

  <p>
    Bons vídeos! <br />
    <strong>Choco Animato</strong>
  </p>
</div>
